* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	width: 100%;
  background: #F3F5FC;
  font-family: 'Inter-Regular', Helvetica;
}

header{
	background: #F3F5FC;
}
.logo{
	/* padding: 40px 40px; */
	/* vertical-align: baseline; */
	padding-top: 25px;
    vertical-align: baseline;
}

.contenedor{
	width: 90vw;
	margin: auto;
  display: flex;
  flex-direction: row;
  /* height: 520px; */
}

.seccionCaja {
  /* display: flex; */
  margin: 0 15px 0 0;
  /* flex-direction: column; */
}

.text-area {
  margin: 1% auto;
  /* height: 90%; */
  padding-right: 30px;
}

/* para no mostrar el borde del textarea*/
textarea::placeholder{
	color:#0A3871;
}

textarea:focus{
	outline: none;
}

.cajon-texto {
	/* height: 240px; */
	display: flex;
	margin: 2% auto;
  margin-left: 0;
  margin-bottom: 0;
	width: 60vw;
	background: #F3F5FC;
	font-size: 32px;
	border: none;
	resize: none;
}

.buttons {
  /* width: 680px; */
  box-sizing: border-box;
  /* align-items: flex-start; */
  gap: 24px;
  display: flex;
  position: relative;
  justify-content: center;
}


.encriptar {
  all: unset;
  box-sizing: border-box;
  width: 328px;
  gap: 8px;
  padding: 24px;
  position: relative;
  align-items: flex-start;
  display: flex;
  background-color:#0A3871;
  
  border-radius: 24px;
}

.desencriptar {
  all: unset;
  box-sizing: border-box;
  width: 328px;
  gap: 8px;
  padding: 24px;
  position: relative;
  align-items: flex-start;
  display: flex;
  background-color:#d8dfe8;
  border-radius: 24px;
}

.textButtonEnc {
  text-align: center;
  font-size: 16px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: white;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  flex: 1;
  position: relative;
}

.textButtonDes {
  text-align: center;
  font-size: 16px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0A3871;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  flex: 1;
  position: relative;
}

.rectanguloRespuesta{
	background: white;
	box-sizing: border-box;
	border-radius: 32px;
	text-align: center;
  width: 100%;
	/* height: 90%; */
  align-items: center;
  justify-content:space-evenly;
  display: flex;
  flex-direction: column;
	padding: 30px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	
.estadoInicial {
  #sinmensaje {
    font-size: 20px;
    font-weight: 700;
  }
  #aviso {
    font-size: 16px;
  }
  position: relative;
  margin-top: -1px;
  text-align: center;
  font-family: "Inter-Bold", Helvetica;
  align-self: stretch;
  /* font-size: 24px; */
  line-height: 28.8px;
  letter-spacing: 0;
  /* font-weight: 700; */
}

.muñeco {
  padding-top: 30px;
}

.resultado {
  display: none;
  flex-direction: column;
  justify-content:center;
  height:326px;
  margin:10%;
}

.alineaTexto {
	text-align:center;
}
p#msg {
	font-size:20px;
	height:240px;
	text-align:left;
}


/* bonton copiar */
.btnCopiar {
  all: unset;
  box-sizing: border-box;
  /* width: 328px; */
  gap: 8px;
  padding: 24px;
  align-items: center;
  align-self:center;
  display: flex;
  background-color:#0A3871;
  border-radius: 24px;
  /* estilo para el texto dentro del boton */
  text-align: center;
  font-size: 16px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: white;
  letter-spacing: 0;
  line-height: normal;
  flex: 1;
  position: relative;
  margin-top:18px;
} 



/* .frame .div { */
/*   position: relative; */
/*   text-align: center; */
/*   font-family: "Inter-Regular", Helvetica; */
/*   align-self: stretch; */
/*   font-size: 16px; */
/*   line-height: 24px; */
/*   letter-spacing: 0; */
/*   font-weight: 400; */
/**/
/* } */


footer{
	text-align: center;
	margin:1%;
	padding: 10px;
}
