* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*! flex: 2 auto; */
}

img {
  max-width: 100%;
  display: block;
}

body{
	/*! width: 100%; */
  background: #F3F5FC;
  font-family: 'Inter-Regular', Helvetica;
  display: flex;
  flex-flow: column;
	height: 100vh;
}

header{
	background: #F3F5FC;
  flex: 1 17px;
	align-self: flex-start;
	display: flex;
	align-items: center;
}
.logo{
	padding: 20px 20px;
	/* vertical-align: baseline; */
	/*! padding-top: 25px; */
    vertical-align: baseline;
}

.contenedor{
  flex: 3 auto;
	/*! width: 90vw; */
	margin: 1%;
  display: flex;
  flex-direction: row;
  /* height: 520px; */
  align-items: stretch;
  align-self: stretch;
}

.seccionCaja {
  /* display: flex; */
  margin: 0 15px 0 0;
  /* flex-direction: column; */
  flex: 3 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.text-area {
  margin: 1%;
  /* height: 90%; */
  padding-right: 30px;
  flex: 2 auto;
  align-self: stretch;
  display: flex;
}

/* para no mostrar el borde del textarea*/
textarea::placeholder{
	color:#0A3871;
}

textarea:focus{
	outline: none;
}

.cajon-texto {
	/* height: 240px; */
	margin: 2%;
  margin-left: 0;
  margin-bottom: 0;
	/*! width: 60vw; */
	background: #F3F5FC;
	font-size: 32px;
	border: none;
	resize: none;
	align-self: stretch;
	/*! flex-flow: row wrap; */
	flex: 1 auto;
}

.buttons {
  /* width: 680px; */
  box-sizing: border-box;
  /* align-items: flex-start; */
  gap: 24px;
  display: flex;
  position: relative;
  justify-content: center;
}


.encriptar {
  all: unset;
  box-sizing: border-box;
  width: 328px;
  gap: 8px;
  padding: 24px;
  position: relative;
  align-items: flex-start;
  display: flex;
  background-color:#0A3871;
  
  border-radius: 24px;
}

.desencriptar {
  all: unset;
  box-sizing: border-box;
  width: 328px;
  gap: 8px;
  padding: 24px;
  position: relative;
  align-items: flex-start;
  display: flex;
  background-color:#d8dfe8;
  border-radius: 24px;
}

.textButtonEnc {
  text-align: center;
  
  : 16px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: white;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  flex: 1;
  position: relative;
}

.textButtonDes {
  text-align: center;
  font-size: 16px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0A3871;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  flex: 1;
  position: relative;
}

.rectanguloRespuesta{
	background: white;
	box-sizing: border-box;
	border-radius: 32px;
	text-align: center;
  /*! width: 100%; */
	/*! height: 90%; */
  align-items: center;
  justify-content:space-around;
  display: flex;
  flex-direction: column;
	padding: 30px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	flex: 1 100px;
}
	
.estadoInicial {
  #sinmensaje {
    font-size: 20px;
    font-weight: 700;
  }
  #aviso {
    font-size: 16px;
  }
  position: relative;
  margin-top: -1px;
  text-align: center;
  font-family: "Inter-Bold", Helvetica;
  align-self: stretch;
  /* font-size: 24px; */
  line-height: 28.8px;
  letter-spacing: 0;
  /* font-weight: 700; */
  display: flex;
  /*! justify-content: center; */
  align-items: center;
  flex-flow: column;
}

.muñeco {
  padding-top: 30px;
}

.resultado {
  display: none;
  flex-direction: column;
  justify-content:space-around;
  /*! height:326px; */
  margin:1%;
  align-self: stretch;
  flex: 1 auto;
}

.alineaTexto {
	text-align:center;
	flex: 4 auto;
	display: flex;
	margin-top: 40px;
}
p#msg {
	font-size:20px;
	/*! height:240px; */
	text-align:center;
	flex: 1 auto;
	/*! align-self: stretch; */
	/*! font-size: 1.5rem; */
	/*! display: flex; */
	flex: 1 auto;
}


/* bonton copiar */
.btnCopiar {
  all: unset;
  /*! box-sizing: border-box; */
  /*! width: 328px; */
  gap: 8px;
  padding: 21px;
  align-items: center;
  align-self:center;
  display: flex;
  background-color:#0A3871;
  border-radius: 24px;
  /* estilo para el texto dentro del boton */
  text-align: center;
  /*! font-size: 16px; */
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: white;
  letter-spacing: 0;
  line-height: normal;
  flex: 0.2 auto;
  position: relative;
  /*! marign:52px; */
} 



/* .frame .div { */
/*   position: relative; */
/*   text-align: center; */
/*   font-family: "Inter-Regular", Helvetica; */
/*   align-self: stretch; */
/*   font-size: 16px; */
/*   line-height: 24px; */
/*   letter-spacing: 0; */
/*   font-weight: 400; */
/**/
/* } */


footer {
  /*! flex: 1 1; */
	text-align: center;
	margin:1%;
	padding: 10px;
}
